<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CWeb</string>
	<key>uuid</key>
	<string>563BC770-5BD2-4343-B622-21F06DCF2EE2</string>
</dict>
</plist>
